
li {
    flex: 1 0 20%;
    min-width: 180px;
    max-width: 220px;
    border: 2px solid $color-2;
    margin: 5px;
    padding: 10px;
    background: white;
    justify-content: space-evenly;
    border-radius: 10px;

    h2, h5 {
        text-align: center;
        margin-bottom: 10px;
    }
    img {
        // padding: 10px;
        width: 100%;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        overflow: hidden;
    }
}